@model simpleblog.ViewModels.PostsIndex

@{
    ViewBag.Title = "Blog";
}

@*@Html.Action("Sidebar", "Layout")*@

<div class="container">
  @Html.Partial("_Posts", Model.Posts)
</div> <!-- End Container -->
