@using System.Web.Optimization
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Blog Admin</title>
    @Styles.Render("~/admin/styles")
</head>
<body>

    @RenderBody()
    <h1>Admin Layout</h1>
    @Scripts.Render("~/admin/scripts")
    @RenderSection("Scripts", false)

</body>
</html>
