@{
  ViewBag.Title = "Contact";
}

<div class="contact-map">
  <!--google map start-->
  <div id="map-canvas" style="width: 100%; height: 400px"></div>
</div><!--google map end-->

<div class="container">
  <!--container start-->
  <div class="row">
    <div class="col-lg-5 col-sm-5 address">
      <h4>Venice Beach, CA</h4>
      <p>
        123 10th Street <br>
        Venice Beach, <br>
        CA 90266.
      </p>
      <br>
      <br>
      <br>
      <p>
        Phone <br />
        <span class="muted">(310) 123-1444</span><br />
        Fax <br />
        <span class="muted">310-555-1313.</span><br />
        Email <br />
        <span class="muted">info@thriii.com</span>
      </p>
    </div>
    <div class="col-lg-7 col-sm-7 address">
      <h4>Send a Message</h4>
      <div class="contact-form">
        <form role="form">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" placeholder="" id="name" class="form-control">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" placeholder="" id="email" class="form-control">
          </div>
          <div class="form-group">
            <label for="phone">Phone</label>
            <input type="text" id="phone" class="form-control">
          </div>
          <div class="form-group">
            <label for="phone">Message</label>
            <textarea placeholder="" rows="5" class="form-control"></textarea>
          </div>
          <button class="btn btn-danger" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div> <!--container end-->



