$base-gray: #000;
$dark-gray: lighten($base-gray, 20%); // #333333;
$medium-gray: lighten($base-gray, 45%); // #737373
$light-gray: lighten($base-gray, 87%); // #DEDEDE

$default: #f00;
$success: rgba(0,240,0,.1);
$error: #f2dede;
