@import "variables";
@import "mixins/border-radius";
@import "mixins/transition";

:root,
body {
  background-color: $light-gray;
}

.header {
  font-size: 3.5em;
}

.users-header {
  text-shadow: 0 0 2px $medium-gray;
  text-transform: uppercase;

  @extend .header;
}

.btn-toolbar {
  padding: 5px;
  margin: 0;
  border: 1px solid #000;
  border-bottom-color: lighten($base-gray, 70%);
  box-shadow: 1px -1px 13px 0 $medium-gray;

  + .table {
    border: 1px solid #000;
    border-top: none;
    box-shadow: 1px 3px 13px 0 $medium-gray;
  }
}

.validation-summary-valid {
  left: -2000px;
}

.validation-summary-errors {
  left: -2000px;
}

.validation-summary-errors {
  position: relative;
  left: 0;

  @include transition(all, .9s, ease-in);

  li {
    margin-left: 5px;
    list-style-type: decimal;

    &:before {
      position: absolute;
      left: 5px;
      content: "Error ";
    }
  }
}

.form-group .valid {
  background-color: #a3ffab;
  background-color: $success;
}

.input-validation-error,
*[aria-describedby$="-error"] {
  background-color: $error;
}

.post-tag-editor {
  .tag-select {
    padding: 0;
    margin: 10px 0;
    list-style-type: none;

    .template {
      display: none;
    }

    li {
      padding: 0;
      margin: 0;
      border-bottom: 1px dashed $light-gray;
    }

    a {
      display: block;
      padding: 2px 5px;
      border-left: 20px solid lighten($medium-gray, 15%);

      &:hover {
        background: $light-gray;
      }

      &,
      &:hover {
        text-decoration: none;
      }
    }

    .selected a {
      background: #d9edf7;
      border-left-color: #3a87ad;
    }
  }
}

#Content {
  height: 300px;
}

#content-textarea {
  opacity: 0;
}

.loading-textarea {
  position: absolute;
  top: 300px;
  right: 0;
  left: 0;
  z-index: 3000;
  font-size: 2em;
  font-weight: 600;
  text-align: center;
}

.hide-loading {
  @include transition(all, 2s, ease-in);
}

.loading-hidden {
  @include transition(all, 1s, ease-in);
}

#content-textarea {
  opacity: 1;
}

.hide-loading {
  display: none;
  opacity: 0;
}
.spin {
  animation-name: rotateThis;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes rotateThis {
  from {
    transform: scale( 1 ) rotate( 0deg );
  }
  to {
    transform: scale( 1 ) rotate( 360deg );
  }
}
