@import 'variables';
@import 'mixins/border-radius';
@import 'mixins/transition';

:root, body {
  background-color: $light-gray;
}

.header {
  font-size: 3.5em;
}
.users-header {
  @extend .header;
  text-shadow: 0 0 2px $medium-gray;
  text-transform: uppercase;
}
.btn-toolbar {
  margin: 0;
  padding: 5px;
  border: 1px solid #000;
  border-bottom-color: lighten($base-gray, 70%);
  box-shadow: 1px -1px 13px 0px $medium-gray;

  + .table {
    border: 1px solid #000;
    border-top: none;
    box-shadow: 1px 3px 13px 0px $medium-gray;
  }
}

.validation-summary-valid {
  left: -2000px;
}

.validation-summary-errors {
  left: -2000px;
}

.validation-summary-errors {
  position: relative;
  @include transition(all, .9s, ease-in);
  left: 0;

  li {
    list-style-type: decimal;
    margin-left: 5px;

    &:before {
      position: absolute;
      left: 5px;
      content: "Error ";
    }
  }
}

.form-group .valid {
  background-color: $success;
}

.input-validation-error,
*[aria-describedby$="-error"] {
  background-color: $error;
}
