@import "variables";
@import "mixins/border-radius";
@import "mixins/transition";

body {
  background-color: $light-gray;

  @include  border-radius(5px);
}

.post-content {
  display: inline-block;
  width: 50%;
}

.post-footer {
  display: inline-block;
  width: 40%;
}
