@import "variables";
@import "mixins/border-radius";
@import "mixins/transition";

body {
  background-color: #fff;

  @include border-radius(5px);
}

.post-content {
  display: inline-block;
  width: 50%;
}

.post-footer {
  display: inline-block;
  width: 40%;
}

.sidebar-tags {
  .tag-name,
  & .badge {
    position: relative;
    z-index: 5;
  }

  .tag-row {
    &:hover {
      background-color: #ddd;
    }
  }

  .progress {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    display: block;
    height: 100%;
    padding: 6px;
    margin: 0;
    background-color: transparent;
  }

  .progress-bar {
    display: block;
    background: #ddd;
    border: none;
    box-shadow: none;

    @include border-radius(5px);
  }
}

.author,
.blog-item h1 {
  a {
    text-transform: capitalize;
  }
}

.blog-pagination {
  display: inline-block;
  width: 100%;
}

.thriii__footer {

}
